<div class="row">
	<div class="nine panel columns centered">
		<h3>Pages#home</h3>
		<p>
			<%= form_tag "/process_input" do %>
				<%= text_area_tag "input", nil, :placeholder => "Paste your input here", :rows => 8 %>
				<%= submit_tag "Submit", :class => "button" %>
			<% end %>
		</p>
	</div>
</div>